.everything
{
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    /*color: #FFD700;
    text-shadow: -1px 0px 5px #00008F,
                0px -1px 5px #00008F,
                1px 0px 5px #00008F,
                0px 1px 5px #00008F,
                -1px -1px 5px #00008F,
                1px 1px 5px #00008F;*/
    color: #00008F;
    text-shadow: 0px 0px 2px #FFD700;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
}

.everything .container-fluid
{   
    background: radial-gradient(#FFFFEE, #CCFFFF);
}

.everything .mistakebutton
{
    width: 100%;
    height: 100%;
    font-size: 250%;
}

.everything .undobutton
{
    font-size: 150%;
    background: #FF8888;
    margin-top: 25px;
    padding: 17px;
}

.everything .pressibuttons, .everything .pressibuttons [class*="col-"]
{
    padding: none;
    margin: none;
}

.everything .scorescreen
{
    width: 98%;
    height: 92%;
    padding: 0;
}

.everything .scorebody
{
    height: 99%;
}

.everything #finalscore
{
    font-size: 3000%;
}

.everything .scoringstuff
{
    display: table;
}

.everything .scoringstuff [class*="col-"]
{   
    height: 100%;
    float: none;
    display: table-cell;
    vertical-align: top;
}

.everything .undobutton
{
    width: 100%;
}

.everything .miscounts div h2
{
    margin-top: 0;
    padding-top: 0;
}

.everything .scorebox
{
    background: #00003F;
    color: #FFD700;
}

.everything #scoresubmit
{
    margin-top: 35px;
    width: 100%;
    font-size: 300%;
}

.everything .cpyrght
{
    font-size: 50%;
    text-shadow: none;
    color: black;
    padding-top: 12px;
}

.everything .poorpressie
{
    color: #AA5500;
    text-shadow: -1px 0px 1px #660000,
                0px -1px 1px #660000,
                1px 0px 1px #660000,
                0px 1px 1px #660000,
                -1px -1px 1px #660000,
                1px 1px 1px #660000;
}

.everything .fairpressie
{
    color: #887700;
    text-shadow: -1px 0px 2px #220022,
                0px -1px 2px #220022,
                1px 0px 2px #220022,
                0px 1px 2px #220022,
                -1px -1px 2px #220022,
                1px 1px 2px #220022;
}

.everything .goodpressie
{
    color: #669900;
    text-shadow: -1px 0px 3px #222211,
                0px -1px 3px #222211,
                1px 0px 3px #222211,
                0px 1px 3px #222211,
                -1px -1px 3px #222211,
                1px 1px 3px #222211;
}

.everything .verygoodpressie
{
    color: #44BB00;
    text-shadow: -1px 0px 4px #220022,
                0px -1px 4px #220022,
                1px 0px 4px #220022,
                0px 1px 4px #220022,
                -1px -1px 4px #220022,
                1px 1px 4px #220022;
}

.everything .excellentpressie
{
    color: #22DD00;
    text-shadow: -1px 0px 5px #221144,
                0px -1px 5px #221144,
                1px 0px 5px #221144,
                0px 1px 5px #221144,
                -1px -1px 5px #221144,
                1px 1px 5px #221144;
}

.everything .prefectpressie
{
    color: #00FF00;
    text-shadow: -1px 0px 6px #000066,
                0px -1px 6px #000066,
                1px 0px 6px #000066,
                0px 1px 6px #000066,
                -1px -1px 6px #000066,
                1px 1px 6px #000066;
}
