.everything
{
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
}

.everything .mistakebutton
{
    width: 100%;
}

.everything .scorescreen
{
    width: 98%;
    height: 92%;
    padding: 0;
}

.everything .scorebody
{
    height: 99%;
}

.everything #finalscore
{
    font-size: 3000%;
}
