.everything
{
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    /*color: #FFD700;
    text-shadow: -1px 0px 5px #00008F,
                0px -1px 5px #00008F,
                1px 0px 5px #00008F,
                0px 1px 5px #00008F,
                -1px -1px 5px #00008F,
                1px 1px 5px #00008F;*/
    color: #00008F;
    text-shadow: 0px 0px 2px #E5C100;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
}

.everything .container-fluid
{   
    background: radial-gradient(#FFFFEE, #CCFFFF);
}

.everything .mistakebutton
{
    width: 100%;
    height: 100%;
    font-size: 250%;
}

.everything .btn-radio
{
    background: #CCCCDD;
    border: 1px solid #999999;
}

.everything .toprow label
{
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
}


.everything .botrow label
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top: none;
    border-bottom: none;
}

.everything .pressiestuff .active
{
    background: #999999;
}

.everything .undobutton
{
    font-size: 150%;
    background: #FF8888;
    margin-top: 25px;
    padding: 17px;
}

.everything .pressibuttons, .everything .pressibuttons [class*="col-"]
{
    padding: none;
    margin: none;
}

.everything .scorescreen
{
    width: 98%;
    height: 92%;
    padding: 0;
}

.everything .scorebody
{
    height: 99%;
}

.everything #finalscore
{
    font-size: 3000%;
}

.everything .scoringstuff
{
    display: table;
}

.everything .scoringstuff [class*="col-"]
{   
    height: 100%;
    float: none;
    display: table-cell;
    vertical-align: top;
}

.everything .undobutton
{
    width: 100%;
}

.everything .miscounts div h2
{
    margin-top: 0;
    padding-top: 0;
}

.everything .scorebox
{
    background: #00003F;
    color: #FFD700;
}

.everything #scoresubmit
{
    margin-top: 35px;
    width: 100%;
    font-size: 300%;
}

.everything .cpyrght
{
    font-size: 50%;
    text-shadow: none;
    color: black;
    padding-top: 12px;
}

.everything .poorpressie
{
    color: #FF0000;
    text-shadow: 0px 0px 1px #000000;
}

.everything .fairpressie
{
    color: #CC5500;
    text-shadow: 0px 0px 1px #000000;
}

.everything .goodpressie
{
    color: #669900;
    text-shadow: 0px 0px 1px #000000;
}

.everything .verygoodpressie
{
    color: #44BB00;
    text-shadow: 0px 0px 1px #000000;
}

.everything .excellentpressie
{
    color: #22DD00;
    text-shadow: 0px 0px 2px #000000;
}

.everything .prefectpressie
{
    color: #00FF00;
    text-shadow: 0px 0px 3px #000000;
}
