/* Colors */
$hex_blue_med: #335CAD;
$hex_gray_dark: #89898B;
$hex_white: #FFFFFF;
$hex_gray_light: #E6E6E6;

$rgba_gray_dark_6: rgba(137, 137, 139, 0.6);

$bg_image: url("./images/kody_pair_frontkick.jpg");

body { 
	padding-top: 50px; 
}


// header {
// 	background: $bg_image;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	// position: relative;
// 	width:100%;
// 	height: 560px;
// }

div {
	display:block;
}

header {
    width: 100%;
    height: 150vh;
    background: $bg_image no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    background-size: cover;
    // -o-background-size: cover;
	position: relative;
	max-height: 800px;
	min-height:400px;
}

// .landing {
// 	max-height:800px;
// 	min-height:1000px;
// }


.scorer-btn {
	height:100%;
	width:100%;
	color:$hex_white;
	background:$rgba_gray_dark_6;
	border:3px solid $hex_gray_dark;
	padding:5px;
	vertical-align: middle;
}

.landing-content {
	margin-top: 100px;
	vertical-align: middle;
}

#help {
	position:relative;
}

h1 {
	color:$hex_blue_med;
}

/* Navbar */

.navbar {
	background:$hex_blue_med;
}

.navbar-default {
	.navbar-nav>li>a{
		color:$hex_gray_light;
	}
	.navbar-brand {
		color:$hex_white;
	}
}
