/* Variables */

/* Colors */
$hex_blue_med: #335CAD;
$hex_gray_dark: #89898B;
$hex_white: #FFFFFF;
$hex_gray_light: #E6E6E6;

$rgba_gray_dark_6: rgba(137, 137, 139, 0.75);
$rgba_gray_dark_9: rgba(137, 137, 139, 0.9);
$rgba_blue_med_6: rgba(51, 92, 173, 0.6);
$rgba_blue_med_9: rgba(51, 92, 173, 0.9);

/* Image URLs */
$bg_image: url("../images/kody_pair_frontkick.jpg");

/* End Variables */

body { 
	padding-top: 50px; 
	font-size:14pt;
}

#tournament {
	background-color: $hex_gray_dark;
	h2 small {
		color:#333;
	}
}

#login {
	padding:10px;
}

header {
    width: 100%;
    height: 110vh;
    background: $bg_image no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    background-size: cover;
    // -o-background-size: cover;
	position: relative;
	max-height: 800px;
	min-height:400px;
}


/* Links */
a:link {
	text-decoration: bold;
	color: $hex_blue_med;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color:$hex_gray_dark;
	.scorer-btn {
		background-color:$rgba_gray_dark_9;
	}
}

a:active {
	text-decoration: none;
}

/* Links End */

/* Landing */
.landing-content {
	margin-top: 100px;
	vertical-align: middle;
	height:100%
}

.scorer-btn {
	height:100%;
	width:100%;
	color:$hex_white;
	background:$rgba_gray_dark_6;
	border:3px solid $hex_gray_dark;
	padding:5px;
	vertical-align: middle;
	text-align:center;
}
/* End Landing */



#help {
	position:relative;
}


h1 {
	color:$hex_blue_med;
}

/* Navbar */

.navbar {
	background:$hex_blue_med;
}

.navbar-default {
	.navbar-nav>li>a{
		color:$hex_gray_light;
	}
	.navbar-brand {
		color:$hex_white;
	}
}
/* Navbar End */

footer {
	background-color: $hex_blue_med;
	color: $hex_white;
	font-size:8pt;
	padding:10px;
}


/* Login Style */


input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 400px;
}


#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background-color: #fff;
	// -webkit-border-radius: 0 0 20px 20px;
	// -moz-border-radius: 0 0 20px 20px;
	// border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input[type="submit"] {
	background-color: $rgba_blue_med_6;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}

#login fieldset input[type="submit"]:hover {
	background-color: $rgba_blue_med_9;
}

/* Login End */
