.panel-group {
    width: 90%;
    margin: auto;
}

.panel-heading {
    padding: 0;
}

.panel-title {
    text-align: center;
}

.panel-title a {
    text-decoration: none;
    width: 100%;
}

.panel-title a h2{
    margin: 0;
    padding: 25px;
    padding-bottom: 20px;
}

.panel-collapse {
    padding: 10px;
}


.priority {
    width: 50%;
}
