//colors
$color_mischka_approx: #ccccdd;
$color_mountain_mist_approx: #999999;
$color_navy_blue_approx: #00008f;
$color_corn_approx: #e5c100;
$color_geraldine_approx: #ff8888;
$color_stratos_approx: #00003f;
$gold: #ffd700;
$black: black;
$red: #ff0000;
$color_flush_orange_approx: #ff7700;
$yellow: #ffff00;
$color_japanese_laurel_approx: #006400;
$color_la_palma_approx: #339900;
$color_chartreuse_approx: #77ff00;
$rgba_navy_light: rgba(0, 0, 143, 0.2);


$text-color: $color_navy_blue_approx;
//fonts
$font_0: Verdana;
$font_1: Geneva;
$font_2: sans-serif;

//urls
$url_0: url(../images/bgnoise_lg/bgnoise_lg.png);
$url_1: url(../images/retina_wood/retina_wood.png);

* {
  border-radius: 0 !important;
}

body {
	background-image: $url_1;
	h3 {
	}
}

.miscounts div h2 {
	margin-top: 0;
	padding-top: 0;
}
.stopwatch {
	background: $color_mischka_approx;
	border: 1px solid $color_mountain_mist_approx;
	.btn-lg {
		text-align: center;
		font-size: 128%;
		border:none;
	}
}
.sportpoom {
	height:100%;
	text-align: center;
	font-family: $font_0, $font_1, $font_2;
	color: $text-color;
	position:relative;
	.buttonrow {
		height:100%;
	}


//-----------BUTTONS-------------------
	.btn-radio {
		// background: $color_mischka_approx;
		border: 1px solid $color_mountain_mist_approx;
		font-size:5 100%;
	}
	.btn.outline {
	    background: none;
	    padding: 12px 22px;
	}
	.presbtn {
		color: $text-color;
	}
	.deductbutton {
		width: 100%;
		font-size: 200%;
		padding: 10;
	}
	.deductcol {
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
	.undobutton {
		font-size: 100%;
		height:50%;
		background: $color_geraldine_approx;
		margin-top: 0;
		padding: 15px;
		width: 70%;
		border:none;
	}

	.undorow {
		vertical-align: bottom;
	}

	// #scoresubmit {
	// 	position:absolute;
	// 	top:0;
	// }

	.scores { 
		// background-color: $color_navy_blue_approx;
		position:relative;
	}
	#submitbtndiv {
		// background-color: $color_corn_approx;
		position:absolute;
		bottom:0;
		right:0;
	}

	#total-score-info {
		// background-color:$color_geraldine_approx;
	}

//---------------SUBMITSCREEN-------------
	.scorescreen {
		width: 98%;
		height: 92%;
		padding: 0;
	}
	.scorebody {
		height: 99%;
	}
	#finalscore {
		font-size: 3000%;
	}
	.scorebox {
		background: $color_stratos_approx;
		color: $gold;
	}


//------------------COPYRIGHT---------------
	.cpyrght {
		font-size: 50%;
		text-shadow: none;
		color: $black;
		padding-top: 7px;
	}



	.active {
		background: $rgba_navy_light;
	}
	.pwrspd h2 {
		margin-top: 0;
	}

}

