.tradpoom
{
    text-align: center;
}

.tradpoom .formtitle
{
    font-size: 750%;
}

.tradpoom .numberoptions select
{
    width: 25%;
    font-size: 200%;
}

.tradpoom .numberoptions option
{
    font-size: 200%;
}

.tradpoom #decimalpoint
{
    font-size: 1000%;
}

.tradpoom #submitscore
{
    width: 50%;
    padding: 20px;
    margin: auto;
    font-size: 200%;
}
