.tradpoom
{
    text-align: center;
    height: 100%;
    overflow: hidden;
    font-family: Verdana, Geneva, sans-serif;
}

.tradpoom #pagetitle
{
    font-size: 500%;
}

.tradpoom .formtitle
{
    font-size: 450%;
}

.tradpoom .numberoptions select
{
    width: 25%;
    height: 50%;
    font-size: 200%;
}

.tradpoom .numberoptions option
{
    font-size: 200%;
}

.tradpoom #decimalpoint
{
    font-size: 500%;
}

.tradpoom #submitscore
{
    width: 50%;
    padding: 20px;
    margin: auto;
    font-size: 200%;
}

.tradpoom .scorebox
{
    background: #00003F;
    color: #FFD700;
}

.tradpoom #finalscorescreen
{
    margin-top: 3px;
    width: 100%;
    font-size: 300%;
}

.tradpoom .scorescreen
{
    width: 98%;
    height: 92%;
    padding: 0;
}

.everything .scorebody
{
    height: 99%;
}

.tradpoom #finalscore
{
    font-size: 1000%;
}

.tradpoom .cpyrght
{
    font-size: 50%;
    text-shadow: none;
    color: black;
    padding-top: 12px;
}
